/* Created by M. Francis - 2020 */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

/* Colors and general styling */
:root {
	/* To anyone curious, these colors were created using some fancy math. */
	/* I used a for loop to generate these colors. Let's use variable i and set it to 0. */
	/* While i is less than 10, add this number to an array: i * 0.618033988749895 * 360 */
	/* Then increment that number. */
	--player-0: black;
	--player-1: #bf4040;
	--player-2: #4064bf;
	--player-3: #8abf40;
	--player-4: #bf40ae;
	--player-5: #40bfaa;
	--player-6: #bf8640;
	--player-7: #6040bf;
	--player-8: #44bf40;
	--player-9: #bf406a;
	--player-10: #4091bf;
	--player-1-dark: #732626;
	--player-2-dark: #263c73;
	--player-3-dark: #537326;
	--player-4-dark: #732669;
	--player-5-dark: #267366;
	--player-6-dark: #735026;
	--player-7-dark: #392673;
	--player-8-dark: #297326;
	--player-9-dark: #732640;
	--player-10-dark: #265773;
	--generic-bg: #555555;

	--width-offset: calc(100px * (16/9));
}
* {
	margin: 0;
	padding: 0;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 400;
}
@media screen and (max-width: 700px) {
	* {
		font-size: small;
	}
}

body {
	background-color: var(--generic-bg);
	transition: 1s background-color;
	background-image: url("../img/grid-noise.png"); /* Texture from transparenttextures.com */
	font-size: small;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	color: white;
}
#container {
	position: absolute;
	display: block;
	width: 100vw;
	height: 56.25vw;
	max-height: 100vh;
}

/* Header */
header {
	background-color: var(--generic-bg);
	transition: 1s background-color;
	position: absolute;
	font-size: large;
	top: 0;
	left: 0;
	width: 100vw;
	height: 50px;
	z-index: 6;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
@media screen and (max-width: 700px) {
	header {
		height: 30px;
	}
}
header p {
	display: inline-block;
	padding-left: 1.5em;
	padding-right: 1.5em;
}
#roomcode {
	cursor: pointer;
}
#roomcode:hover {
	text-decoration: underline;
}

/* Canvas */
canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 56.25vw;
	max-height: 100vh;
	background-color: white;
	background-image: url("../img/worn-dots.png");
	border: 0;
	z-index: 0;
}

/* Blur overlay when resetting */
#bluroverlay {
	background-color: #7f7f7f7f;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	width: 100vw;
	height: 56.25vw;
	z-index: 2;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* General styling for sidebars */
aside, main {
	padding: 50px 0;
	box-sizing: border-box;
	display: inline-block;
	background-color: #eee;
	color: #121212;
	position: absolute;
	height: 56.25vw;
	max-height: 100vh;
}
aside *, main * {
	pointer-events: all;
}

/* Sidebar with player listings and scores as well as host controls */
aside {
	transition: 0.5s margin-left ease-out;
	left: 0;
	width: 200px;
	z-index: 3;
}
@media screen and (max-width: 700px) {
	aside {
		width: 120px;
	}
}
aside #controlpanel {
	text-align: center;
	padding: 8px;
}
aside input[type=button] {
	border: 0;
	border-radius: 0;
	outline: none;
	cursor: pointer;
}
aside input[type=button]:hover {
	background-color: white;
}
aside #closeleft {
	display: inline-block;
	height: 56.25vw;
	max-height: 100vh;
	padding-left: 6px;
	background-color: #ccc;
	border-left: 1px solid black;
	border-right: 1px solid black;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: -7px;
}
aside #playerbox {
	max-width: 200px;
	height: calc(56.25vw - 100px);
	max-height: calc(100vh - 100px);
	padding: 8px;
	box-sizing: border-box;
	overflow-y: auto;
}
@media screen and (max-width: 700px) {
	aside #playerbox {
		max-width: 120px;
		height: calc(56.25vw - 60px);
		max-height: calc(100vh - 60px);
	}
}
aside .playercolor:not(.active) {
	display: none;
}
aside .playercolor p {
	display: inline-block;
}
aside .playercolor.active:before {
	display: inline-block;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	content: "";
}
@media screen and (max-width: 700px) {
	aside .playercolor.active:before {
		width: 15px;
		height: 15px;
	}
}

/* Player colors in sidebar */
aside .playercolor:nth-child(1):before {
	background-color: var(--player-1);
}
aside .playercolor:nth-child(2):before {
	background-color: var(--player-2);
}
aside .playercolor:nth-child(3):before {
	background-color: var(--player-3);
}
aside .playercolor:nth-child(4):before {
	background-color: var(--player-4);
}
aside .playercolor:nth-child(5):before {
	background-color: var(--player-5);
}
aside .playercolor:nth-child(6):before {
	background-color: var(--player-6);
}
aside .playercolor:nth-child(7):before {
	background-color: var(--player-7);
}
aside .playercolor:nth-child(8):before {
	background-color: var(--player-8);
}
aside .playercolor:nth-child(9):before {
	background-color: var(--player-9);
}
aside .playercolor:nth-child(10):before {
	background-color: var(--player-10);
}

/* Sidebar with chatbox and guessing thing */
main {
	transition: 0.5s margin-right ease-out;
	right: 0;
	width: 200px;
	z-index: 4;
}
@media screen and (max-width: 700px) {
	main {
		width: 120px;
	}
}
main #closeright {
	display: inline-block;
	height: 56.25vw;
	max-height: 100vh;
	padding-left: 6px;
	background-color: #ccc;
	border-left: 1px solid black;
	border-right: 1px solid black;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: -7px;
}
main #chatbox {
	height: calc(56.25vw - 100px);
	max-height: calc(100vh - 100px);
	max-width: 200px;
	padding: 8px;
	border-bottom: 1.25rem solid transparent;
	box-sizing: border-box;
	font-size: 1rem;
	position: absolute;
	top: 50px;
	left: 0;
	overflow: hidden;
	overflow-wrap: break-word;
	word-wrap: break-word;
	hyphens: auto;
}
@media screen and (max-width: 700px) {
	main #chatbox {
		max-height: calc(100vh - 60px);
		max-width: 120px;
		top: 30px;
	}
}
main #chatbox span {
	font-weight: 600;
}
main form {
	position: absolute;
	left: 0;
	bottom: 50px;
	border: 1px solid black;
	box-sizing: border-box;
	display: flex;
}
@media screen and (max-width: 700px) {
	main form {
		bottom: 30px;
	}
}
main form.error {
	border: 1px solid red;
}
input[type=text] {
	padding: 2px;
	border: 0;
	border-radius: 0;
	background-color: white;
	font-weight: 400;
	width: calc(200px - 1.25rem);
	height: 1.25rem;
	box-sizing: border-box;
	outline: none;
	cursor: text;
}
@media screen and (max-width: 700px) {
	input[type=text] {
		width: calc(120px - 1.25rem);
	}
}
input[type=submit]{
	border: 0;
	border-radius: 0;
	background-color: white;
	font-weight: 400;
	width: 1.25rem;
	height: 1.25rem;
	box-sizing: border-box;
	outline: none;
	cursor: pointer;
}

/* Drawing tools and the like */
footer {
	background-color: var(--generic-bg);
	transition: 1s background-color;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 50px;
	z-index: 5;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
@media screen and (max-width: 700px) {
	footer {
		height: 30px;
	}
}
footer .colorcontainer {
	width: 200px;
	display: flex;
	flex-wrap: wrap;
}
@media screen and (max-width: 700px) {
	footer .colorcontainer {
		width: 120px;
	}
}
footer .tool {
	width: 40px;
	height: 40px;
	border: 1px solid white;
	box-sizing: border-box;
	margin: 0px 5px;
	cursor: pointer;
	display: inline-block;
	background-color: #888;
	background-repeat: no-repeat;
	background-position: center center;
}
@media screen and (max-width: 700px) {
	footer .tool {
		width: 24px;
		height: 24px;
	}
}
footer .colorcontainer .tool {
	width: 20px;
	height: 20px;
	margin: 0;
	margin-bottom: -1px;
	margin-left: -1px;
}
@media screen and (max-width: 700px) {
	footer .colorcontainer .tool {
		width: 12px;
		height: 12px;
	}
}
footer .tool.active {
	border: 3px solid white;
}
footer .noncolor {
	margin-bottom: -4px;
}
footer *:not(.colorcontainer) .tool.active {
	background-color: #aaa;
}

/* Portrait-mode warning */
.portrait {
	display: none;
}
@media screen and (orientation:portrait) {
	.portrait {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		backdrop-filter: blur(10px) brightness(60%);
		background-color: #7f7f7f7f;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 10;
	}
}
